
@{
    ViewBag.Title = "Images";
}

<h2 style="background-color:tan;border:solid;border-block-color:black">Images</h2>
<div class="container">
    <div class="row-fluid">
        @foreach(var ImageFile in Model)
        {
            string Imagename = ImageFile.FileName;
            <div class="col-md-3">
                <div class="card card-outline-info" style="width:30rem; padding:5%">
                    <a href="/Media/Images/@ImageFile.FileName"
                       data-fancybox="gallery"
                       data-caption="Option1 caption">
                        <img class="card-img-top" src="/Media/Images/@ImageFile.FileName" height="200" width="280" />
                    </a>
                    <p>@ImageFile.FileName</p>
                    <input type="button" class="btn btn-success" value="Download" onclick="location.href='@Url.Action("Download", "Images", new { fileName = ImageFile.FileName })'" />
                    <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Images", new { fileName = ImageFile.FileName })'" />

                </div>
            </div>
        }
    </div>
</div>

