@{
    ViewBag.Title = "About";
}<div class=" row">
    <div class="col-md-4" style="background-color:lightpink;border:solid;border-block-color:black">
        <h2> Bio</h2>
        <p>
            My name is Mohammed Uthman Ally. I live in Benoni,Gauteng,South Africa. I am a university student at the University of Pretoria studying Bcom Informatics.I have 2 siblings one brother and one sister. My hobbies include watching football, playing football, sneaker collecting,watching series etc...
        </p>

    </div>
    <div class="col-md-4">
        <h2>Mohammed Uthman Ally </h2>
        <img  src="~/Content/HW3Me.jpg" height="500" width="400"/>
    </div>
    
    
    
    
    
</div>
       

            
            
